DATABASE_URL=postgres://relaciona:relaciona@localhost:5433/relaciona?sslmode=disable
DUMP_BASE_URL=https://arquivos.receitafederal.gov.br/index.php/s/YggdBLfdninEJX9
RUST_LOG=relaciona_brasil=debug,info
PORT=8080
